*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;  
    width: 800px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: rgb(244, 248, 248);
}
button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    opacity: 0.6;
    cursor: pointer;
}
div>button.nav-open{
    position: fixed;
    left: 20px;
    top: 20px;
}
 /* .open-click{
    display: none;
} */ 
.nav{
    width: 300px;
    height: 100vh;
    position: fixed;
    left:0;
    top: 0;
    background-color: rgb(230, 214, 214);
           
}



    

.nav-black{
    background-color: black;
    width: 20%;
}
.nav-red{
    width: 19%;
    background-color: red;
}
.nav-white{
    background-color: white;
    width: 18%;
    padding: 20px;
    margin: 0;
}
   


ul>li{
    list-style: none;
    padding: 10px 0;
    font-size: 20px;
}
ul>li+li{
    padding-left: 10px ;
}
ul>li+li+li{
    padding-left:20px ;
}

a{
    text-decoration: none;
    color: black;
}